*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fefefe;
}

.head{
    font-family: 'Josefin Sans', sans-serif;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}
main{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.formulario{
    
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    
}

.input {
    width: 50%;
    text-align: center;
    font-size: 1.25rem;
    background: #dddddd;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 2.25rem;
    margin: 0.25rem auto;
    transition: all 0.2s;
}


.formulario input:focus{
    border-bottom: solid 2px #3535f7;
}

.formulario__btncargar{
    font-size: 1.25rem;
    margin: 0.5rem auto;
    height: 2rem;
    width: 40%;
    color: white;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    background: #3535f7;
    transition: all 0.2s;
    
}

.formulario__btncargar:active{
    background: #2d2dc4;
}

.container-lista{
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    width: 90%;
    height: 50vh;
    background: #dddddd;
    border-radius: 5px;
}

.container-total{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: #cecece;
    padding: 1.5rem 0;
    margin: 1rem auto;
    width: 50%;
    
}

.lista{
    width: 100%;
    margin: 0.5rem 0 0 0.5rem;
}

.lista__item{
    font-size: 1.25rem;
    text-align: center;
}

.total {
    
    font-size: 1.25rem;
}

/* tema oscuro*/

.oscuro-input{
    background: rgb(32, 31, 31);
    color: white;
}

.oscuro{
    background: rgb(19, 18, 18);
    color: white;
}